/** INCLUDES **/

@font-face {
  font-family: futura-pt;
  src: url("../font/FuturaPTMedium.otf") format("opentype");
}

@font-face {
  font-family: mont-serra;
  src: url("../font/Montserrat-Light.otf") format("opentype");
}

/** GENERAL **/

html{
  background-color: black;
}

body{
  font-family: 'futura-pt', sans-serif;
  margin: 0.5em;
  background-color: white;
  padding: 2em;
}

h1{
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 5px;
}

h2{
  font-family: 'mont-serra', sans-serif;
  text-align: center;
  font-weight: lighter;
  color: #686767;
  font-size: 14px;
  margin-top: 5px;
}

p{
  font-family: 'mont-serra', sans-serif;
}

hr{
  margin-top: 2em;
  margin-bottom: 2em;
}

a{
  text-decoration: none;
  cursor: pointer;
}

/** HEADER **/

.img-header{
  text-align: center;
}

.img-header img{
  width: 55px;
  height: auto;
}

/** NAVBAR **/

.navbar{
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  border-left: 0.5em solid black;
  border-right: 0.5em solid black;
  border-bottom: 1px solid black;
  display: inline-flex;
  z-index: 10;
}

.navbar-left{
  float: left;
  width: 50%;
}

.navbar-left img{
  width: 40px;
  height: auto;
  margin-left: 1em;
  padding: 1em;
  display: block;
}

.navbar-right{
  text-align: right;
  float: right;
  width: 50%;
}

.navbar-right a i{
  color: #686767;
  font-size: 24px;
  padding: 0.5em;
  padding-top: 1em;
  display: inline-block;
}

.navbar-right a:hover i{
  color: black;
  transition-duration: 1s
}

.navbar-right a:nth-child(3){
  margin-right: 1em;
}

.navbar-center{
  text-align: center;
}

.toggle-overlay i{
  font-size: 2em;
  color: #686767;
  padding: 0.6em;
  display: block;
}

.toggle-overlay:hover i{
  color: black;
  transition-duration: 1s
}

@media screen and (max-width: 490px) {
  .navbar-left img{
    margin-left: 0em;
  }
  .navbar-right a:nth-child(3){
    margin-right: 0.5em;
  }
}


/** MAIN **/

#instagram{
  text-align: center;
  -webkit-animation-duration: 1.3s;
  -moz-animation-duration: 1.3s;
  -ms-animation-duration: 1.3s;
  -o-animation-duration: 1.3s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;

}

#instagram:hover img{
  opacity: 0.7;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -ms-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
}

#instagram img:hover{
  opacity: 1;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -ms-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
}

#instagram a{
  padding: 0.5em;
}

#instagram a img{
  width: 27%;
}

aside {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease;
  z-index: 2;
  padding: 13%;
  overflow: auto;
}
.open {
  opacity: 0.9;
  visibility: visible;
  z-index: 1000;
}
.close {
  position: fixed;
  top: 40px;
  right: 60px;
  color: white;
  z-index: 3;
  cursor: pointer;
  font-family: sans-serif;
}
span.profil,
span.profil:before,
span.profil:after {
  border-radius: 4px;
  height: 5px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: '';
}
span.profil {
  background: transparent;
}
span.profil:before {
  transform: rotate(45deg);
}
span.profil:after {
  transform: rotate(-45deg);
}
}

.outer-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 85px;
  height: 85px;
  cursor: pointer;
}

aside h2{
  font-size: 36px;
  font-family: futura-pt;
  text-transform: uppercase;
  color: black;
}

aside p{
  font-size: 18px;
  font-family: mont-serra;
  color: black;
  text-align-last: justify;
  letter-spacing: 1px;
  line-height: 1.7em;
}

aside .contact{
  text-align: center;
}

aside .contact a{
  color: black;
  font-size: 35px;
  padding-top: 1em;
  display: block;
}

aside .contact i:hover{
  color: #686767;
  transition-duration: 1s;
}

/** LIGHTBOX **/

.fancybox-overlay{
  background: rgba(255, 255, 255, 0.6) !important;
}

.fancybox-close{
  display: none;
}

.fancybox-inner{
  width: 100% !important;
  height: auto !important;
}

.fancybox-wrap{
  border: 0;
}

.fancybox-skin{
  background: white;
  padding: 10px !important;
}

.fancybox-lock .fancybox-overlay {
  overflow: hidden;
  overflow-y: hidden;
}

body > div.fancybox-overlay.fancybox-overlay-fixed > div{
  width: auto !important;
}

/** FOOTER **/

.site-footer{
  text-align: center;
}

.site-footer p{
  font-weight: lighter;
  font-size: 12px;
  color: #686767;
}

.site-footer a i{
  color: #686767;
  font-size: 24px;
  padding: 10px;
}

.site-footer a:hover i{
  color: black;
  transition-duration: 1s
}

/** MEDIA QUERIES **/

@media screen and (max-width: 700px){
  body > div.fancybox-overlay.fancybox-overlay-fixed > div{
    left: 10px !important;
    right: 10px !important;
  }
}

@media screen and (max-width: 800px){
  #instagram:hover img{
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  #instagram a img{
    width: 40%;
  }
}

@media screen and (max-width: 490px) {
  #instagram a img{
    width: 100%;
    display: block;
  }

  aside h2{
    font-size: 30px !important;
  }

  aside p{
    font-size: 13px !important;
  }

}
